{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 50%;">
  <div class="card-body">
       <div class="row">


            <div class="col">
              <h1>
                  <img src="./static/{{ day_1[1] }}">
                  {{ weather_list[0] }}
                  °C
              </h1>
            </div>
            <div class="col">
              <h3>
                  Weather
              </h3>
                {{ current_list[0] }} {{ current_list[1] }}

                <p>
                    {{ current_list[2] }}
                </p>
            </div>
       </div>
       <div class="row">
            <div class="col">
              <ul class="nav nav-underline">
                  <li class="nav-item">
                       <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Temperature</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" id="precipitation-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Precipitation</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" id="wind-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Wind</button>
                  </li>
                </ul>
            </div>
       </div>

       <div class="row">
            <div class="col">
                <h3>
                    {{ day_1[0] }}

                </h3>
              <img src="./static/{{ day_1[1] }}">
                <p>
                    {{ day_1[2] }}
                    °C /
                    {{ day_1[3] }}
                    °C
                </p>
            </div>
           <div class="col">
               <h3>
                   {{ day_2[0] }}
               </h3>
              <img src="./static/{{ day_2[1] }}">
              <p>
                  {{ day_2[2] }}
                    °C /
                    {{ day_2[3] }}
                    °C
              </p>

            </div>
           <div class="col">
               <h3>
                   {{ day_3[0] }}
               </h3>
              <img src="./static/{{ day_3[1] }}">
               <p>
                   {{ day_3[2] }}
                    °C /
                    {{ day_3[3] }}
                    °C
               </p>

            </div>
           <div class="col">
               <h3>
                   {{ day_4[0] }}
               </h3>
              <img src="./static/{{ day_4[1] }}">
               <p>
                   {{ day_4[2] }}
                    °C /
                    {{ day_4[3] }}
                    °C
               </p>

            </div>
           <div class="col">
               <h3>
                   {{ day_5[0] }}
               </h3>
              <img src="./static/{{ day_5[1] }}">
               <p>
                   {{ day_5[2] }}
                   °C /
                    {{ day_5[3] }}
                    °C
               </p>
            </div>

       </div>
  </div>
</div>




    {% endblock %}