{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 50%;">
  <div class="card-body">
       <div class="row">
            <div class="col">
              <h1>
                  <img src="./static/{{ day_1[1] }}">
                  {{ weather_list[0] }}
                  °C
              </h1>
            </div>
            <div class="col">
              <h3>
                  Weather
              </h3>
                {{ current_list[0] }} {{ current_list[1] }}

                <p>
                    {{ current_list[2] }}
                </p>
            </div>
       </div>
       <div class="row">
            <div class="col">
              <ul class="nav nav-underline">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Temperature</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Precipitation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Wind</a>
                  </li>
                </ul>
            </div>
       </div>

       <div class="row">
            <div class="col">
                <h3>
                    {{ day_1[0] }}

                </h3>
              <img src="./static/{{ day_1[1] }}">
                <p>
                    {{ day_1[2] }}
                    °C /
                    {{ day_1[3] }}
                    °C
                </p>
            </div>
           <div class="col">
              <img src="./static/{{ day_2[1] }}">
              <p>
                  {{ day_2[2] }}
                    °C /
                    {{ day_2[3] }}
                    °C
              </p>

            </div>
           <div class="col">
              <img src="static/50d@2x.png">
            </div>
           <div class="col">
              <img src="static/01n@2x.png">
            </div>
           <div class="col">
              <img src="static/09d@2x.png">
            </div>
           <div class="col">
              <img src="static/11n@2x.png">
            </div>
       </div>
  </div>
</div>



    {% endblock %}