{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 50%;">
  <div class="card-body">
       <div class="row">
            <div class="col">
              <h1>
                  {{ weather_list[0] }}
                  °C
              </h1>
            </div>
            <div class="col">
              <h2>
                  Weather
              </h2>
                {{ current_list[0] }} {{ current_list[1] }}

            </div>
       </div>
       <div class="row">
            <div class="col">
              <ul class="nav nav-underline">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Temperature</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Precipitation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Wind</a>
                  </li>
                </ul>
            </div>
       </div>
       <div class="row">
            <div class="col">
              <img src="static/02n@2x.png">
            </div>
           <div class="col">
              <img src="static/03d@2x.png">
            </div>
           <div class="col">
              <img src="static/50d@2x.png">
            </div>
           <div class="col">
              <img src="static/01n@2x.png">
            </div>
           <div class="col">
              <img src="static/09d@2x.png">
            </div>
           <div class="col">
              <img src="static/11n@2x.png">
            </div>
       </div>
  </div>
</div>



    {% endblock %}